/*body{
  font: normal 15px/22px "kiam", Tahoma, sans-serif;
  color: #333;
  /*background: url(../../../../../../content/dam/kwcms/kme/global/en/assets/static/common/bg-container.gif) 0 0 repeat;
}
ul, ol {
    margin: 0;
    padding: 0;
}
.hidden{
  display: none;
}
#eut_container .eut_sub_title {
  padding: 25px 0 26px 0;
  width: 940px;
  margin: 0 auto;
}
#eut_container .eut_sub_title h1 {
  font-size: 36px;
  margin: 0;
  font-family: "kiab", sans-serif;
  color: #000;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#eut_container .eut_sub_title:after {
  display: block;
  width: 70px;
  height: 2px;
  background-color: #bb162b;
  content: '';
}
#eut_container .eut_cmly_section {
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#eut_container .eut_cmly_section .inner {
  width: 940px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul {
  margin-left: -20px;
  box-sizing: border-box;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li {
  width: 50%;
  box-sizing: border-box;
  padding-left: 20px;
  float: left;
}
.eut_cmly_kia_newsletter_req li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap {
  position: relative;
  border: 1px solid #dadada;
  background-color: #fff;
  min-height: 250px;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap.active .head {
    background-color: #bb162b;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap.active .head p{
  margin:0;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .head {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0 0 15px;
  height: 30px;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body {
  background-color: #fff;
  padding: 5px 19px 20px;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li {
  margin-top: 10px;
}
.field-table {
    display: table;
    width: 100%;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div>div:first-of-type {
    padding-left: 0;
}
@media (min-width: 768px){
.field-td {
    float: none!important;
}
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div>div {
    width: 50%;
    box-sizing: border-box;
}

.field-td {
    display: table-cell;
    vertical-align: bottom;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .error_message {
    color: #fe0000;
    font-size: 12px;
    margin-bottom: 4px;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body .error_message {
    margin-top: -5px;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body p {
  line-height: 18px;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_plugin {
    width: 100%;
}
.eut_form_plugin {
    position: relative;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}

.eut_form_plugin > label.eut_text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  z-index: 1;
  font-size: 13px;
  color: #aaa;
  line-height: 30px;
  padding-left: 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.eut_form_plugin.required > label:after {
  content: '*';
  color: #bb162b;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}
ul.input_group{
  padding:0;
}
.eut_cmly_kia_newsletter_req .list_wrap>ul:after {
    display: block;
    clear: both;
    content: "";
}
.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div:after {
    display: block;
    clear: both;
    content: "";
}
*/
.eut_form_plugin .sel_box .select-list li {
    padding-left: 0
}

.eut_form_plugin .sel_box .select-list .select-list-link {
    padding-left: 15px
}

.eut_form_plugin .contact_number {
    width: 100%
}

.eut_cmly_kia_newsletter_req .top_txt {
    margin-bottom: 25px
}

.eut_cmly_kia_newsletter_req .bottom_text {
    font-size: 13px;
    line-height: 20px;
    color: #666;
    vertical-align: top;
    margin-bottom: 26px;
    padding-left: 15px
}

.eut_cmly_kia_newsletter_req h2 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #000;
    line-height: 22px
}

.eut_cmly_kia_newsletter_req h2:before {
    content: "";
    width: 8px;
    height: 10px;
    display: block;
    margin: 6px 7px 0 0;
    float: left;
    background: url(/images/spr-common.png) no-repeat -167px 0
}

.eut_cmly_kia_newsletter_req h2.bottom_h2 {
    margin-bottom: 10px
}

.eut_cmly_kia_newsletter_req .eut_view_pdf {
    padding: 30px 0;
    margin-bottom: 25px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .img_wrap {
    width: 65%;
    float: left;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .img_wrap img {
    width: 100%;
    height: 100%;
    display: block
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .txt_wrap {
    width: 35%;
    float: left;
    box-sizing: border-box;
    padding: 8px 0 0 30px
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .txt_wrap p {
    color: #666;
    font-size: 13px;
    line-height: 20px
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .txt_wrap p.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .txt_wrap a {
    margin-top: 18px
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .txt_wrap a.eut_cmpe_btn_text {
    display: none
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li:after {
    display: block;
    clear: both;
    content: ""
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns {
    margin-left: -20px
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li {
    float: left;
    width: 33.333%;
    padding-left: 20px;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li .img_wrap {
    width: 100%;
    float: none
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li .txt_wrap {
    padding: 13px 0 0;
    width: 100%;
    float: none
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li a {
    margin-top: 12px
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li a.eut_cmpe_btn {
    display: none
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li a.eut_cmpe_btn_text {
    display: block
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li p.title {
    font-size: 18px;
    margin: 0 0 7px
}

.eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns:after {
    display: block;
    clear: both;
    content: ""
}

.eut_cmly_kia_newsletter_req .list_wrap>ul {
    margin-left: -20px;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li {
    width: 50%;
    box-sizing: border-box;
    padding-left: 20px;
    float: left
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap {
    position: relative;
    border: 1px solid #dadada;
    background-color: #fff;
    min-height: 250px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .head {
    background-color: #cacaca;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0 0 15px;
    height: 30px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body {
    background-color: #fff;
    padding: 5px 19px 20px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body p {
    font-size: 13px;
    color: #666;
    line-height: 18px;
    margin-top: 10px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body .button_area {
    margin: 45px 0;
    text-align: center
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body .button_area button {
    width: 162px;
    margin-top: 8px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body .button_area button:first-child {
    margin-top: 0
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body .error_message {
    color: #fe0000;
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: -5px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li>p {
    font-size: 13px;
    position: relative
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li>p button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    color: transparent;
    display: block;
    width: 17px;
    height: 17px;
    background: url(/images/spr-button.png) no-repeat -90px -60px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li .txt_required {
    margin-bottom: 6px;
    color: #333
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li .txt_required span {
    color: #bb162b
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li .eut_input_btn {
    margin: 10px 0 20px;
    position: relative;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li .eut_input_btn .eut_cmpe_btn {
    position: absolute;
    top: 1px;
    right: 0;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding-right: 35px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li .eut_input_btn .eut_cmpe_btn:after {
    position: absolute;
    right: 12px;
    top: 0
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li .eut_input_btn p.eut_from_area {
    padding-right: 120px;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li .eut_input_btn p.eut_from_area .eut_form_plugin input[type=text] {
    width: 100%;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li .eut_form_textarea textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 13px;
    background-color: #f8f8f8;
    white-space: pre-line;
    border: 1px solid #e5e5e5;
    padding: 8px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body>ul>li .img_wrap img {
    width: 100%;
    height: 100%;
    display: block
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li {
    margin-top: 10px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_plugin {
    width: 100%
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_plugin .sel_box {
    padding-right: 0
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_plugin .sel_box>div {
    padding: 0!important
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_plugin .sel_box>div .new {
    z-index: 2;
    margin-top: -30px;
    padding-left: 5px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_plugin .sel_box>div .required>label:after {
    color: #bb162b;
    content: "*";
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_plugin .sel_box select.form_select {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_plugin input[type=email],.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_plugin input[type=text] {
    width: 100%;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .error_message {
    color: #fe0000;
    font-size: 12px;
    margin-bottom: 4px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.carSelector div {
    padding-bottom: 4px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.carSelector div:after {
    display: block;
    clear: both;
    content: ""
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.carSelector div>div input[type=checkbox] {
    color: #666
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.carSelector>div>div.col1 {
    width: 55%;
    float: left;
    padding-left: 10px;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.carSelector>div>div.col2 {
    width: 45%;
    float: right;
    padding-left: 10px;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_radiobtn .eut_form_plugin {
    margin-left: 25px;
    width: auto
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_radiobtn .eut_form_plugin:first-child {
    margin-left: 0
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_radiobtn .eut_form_plugin label.eut_radio {
    color: #666
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li .eut_form_radiobtn .eut_form_plugin label.eut_radio:before {
    margin-right: 9px
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p .errors-group {
    width: 100%;
    display: block;
    overflow: hidden
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p .errors-group p {
    width: 50%;
    padding-left: 10px;
    float: left;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p .errors-group p:first-of-type {
    padding-left: 0
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div>div {
    width: 50%;
    float: left;
    padding-left: 10px;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div>div:first-of-type {
    padding-left: 0
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div>div .eut_form_plugin input[type=text] {
    width: 100%;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div:after {
    display: block;
    clear: both;
    content: ""
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input65p div>div {
    width: 35%;
    float: left;
    padding-left: 10px;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input65p div>div:first-child {
    padding-left: 0;
    width: 65%
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input65p div>div .eut_form_plugin input[type=text] {
    width: 100%;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input65p div:after {
    display: block;
    clear: both;
    content: ""
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li div div div input[type=checkbox]:before {
    margin-right: 9px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    padding: 0
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .headValid {
    background-color: #fcfcfc;
    color: #000;
    border: 1px solid #e4e4e4
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap.active .head {
    background-color: #bb162b
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap.checked .head {
    background-color: #fafafa;
    border-bottom: 1px solid #dadada;
    color: #333
}

.eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap.checked .head p:after {
    width: 19px;
    height: 19px;
    background: url(/images/spr-common.png) no-repeat 0 -140px;
    content: "";
    color: #bb162b;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle
}

.eut_cmly_kia_newsletter_req .list_wrap>ul:after {
    display: block;
    clear: both;
    content: ""
}

.eut_cmly_kia_newsletter_req .list_wrap .check_submit {
    position: relative;
    margin-top: -8px;
    background-color: #fff;
    border: 1px solid #dadada;
    padding: 0
}

.eut_cmly_kia_newsletter_req .list_wrap .check_submit .error_message {
    color: #fe0000;
    font-size: 12px;
    margin-left: 24px;
    line-height: 14px
}

.eut_cmly_kia_newsletter_req .list_wrap .check_submit:after {
    display: block;
    clear: both;
    content: ""
}

.eut_cmly_kia_newsletter_req .list_wrap .check_submit .eut_form_plugin label.eut_checkbox {
    color: #666
}

.eut_cmly_kia_newsletter_req .list_wrap .check_submit .eut_form_plugin label.eut_checkbox:before {
    margin-right: 9px
}

.eut_cmly_kia_newsletter_req .list_wrap .check_submit button.eut_cmpe_btn {
    width: 100px;
    float: right
}

.eut_cmly_kia_newsletter_req .list_wrap .check_submit .consent_text {
    margin: 5px 0;
    font-size: 13px;
    color: #666
}

.eut_cmly_kia_newsletter_req .list_wrap .check_submit.no-border {
    border: none
}

.eut_cmly_kia_newsletter_req .list_wrap .notice {
    margin-top: 4px;
    text-align: left;
    font-size: 13px;
    
    color: #999
}

.eut_cmly_kia_newsletter_req .list_wrap .notice span {
    color: #bb162b
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dadada;
    padding: 18px 19px 16px
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap h1 {
    text-align: center;
    margin: 25px
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap p {
    text-align: center;
    margin: 15px 20px
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap>ul {
    height: auto
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap>ul>.li65p th {
    color: gray;
    width: 50%
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap>ul>.li45p img {
    max-width: 90%
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap .li45p {
    width: 45%;
    float: right;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap .li65p {
    width: 55%;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
    padding-top: 15px;
    height: 160px;
    position: relative
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap .border_bottom {
    border-bottom: 1px solid #ededed
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap .carCellHeading {
    width: 50%;
    vertical-align: top;
    word-wrap: normal
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap .carSection {
    width: 100%
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap:after {
    display: block;
    clear: both;
    content: ""
}

.eut_cmly_kia_newsletter_req .list_wrap .thx_wrap .box {
    overflow: hidden;
    margin: 5px 0 0;
    padding: 18px;
    border: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    font-size: 13px;
    color: #333
}

.eut_cmly_kia_newsletter_req .list_wrap .eut_blind:before {
    content: "";
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 2;
    opacity: .7;
    filter: alpha(opacity=70)
}

.eut_cmly_kia_newsletter_req .eut_complete_area {
    margin-bottom: 10px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_request_another_btn {
    text-align: right
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont {
    margin-top: 10px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .title_gate {
    padding: 55px 19px;
    background-color: #fff;
    border: 1px solid #dadada;
    margin: 0 0 20px;
    font-size: 25px;
    color: #333;
    text-align: center;
    height: 200px;
    box-sizing: border-box
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .title_gate span {
    display: block;
    font-size: 15px;
    margin-top: 25px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info {
    background-color: #fff;
    border: 1px solid #dadada;
    padding: 19px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail {
    padding: 24px 36px 40px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .img_wrap {
    width: 50%;
    box-sizing: border-box;
    float: left
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .img_wrap .img_area {
    background-color: #dd8a95;
    width: 100%;
    height: 216px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .img_wrap .img_area img {
    width: 100%;
    height: 100%;
    display: block
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .info_wrap {
    width: 50%;
    box-sizing: border-box;
    float: right;
    padding: 0 40px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .info_wrap p.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .info_wrap p.txt {
    margin-top: 17px;
    font-size: 15px;
    color: #333
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .info_wrap p.txt_box {
    margin-top: 10px;
    padding: 14px 19px;
    background-color: #f8f8f8;
    font-size: 15px;
    color: #333;
    border: 1px solid #e5e5e5;
    line-height: 18px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail:after {
    display: block;
    clear: both;
    content: ""
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info {
    position: relative;
    margin: 10px 0 0;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    padding: 19px 19px 15px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dt {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    font-size: 13px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd {
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: inline-block;
    color: #666;
    font-size: 13px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd .error_message {
    color: #fe0000;
    font-size: 12px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd .eut_form_plugin {
    margin-bottom: 8px;
    display: block
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd .eut_form_plugin input[type=text] {
    width: 230px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd .eut_form_plugin label.eut_checkbox {
    color: #666
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd .eut_form_plugin label.eut_checkbox:before {
    margin-right: 9px
}

.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd .eut_cmpe_btn {
    position: absolute;
    top: 19px;
    right: 19px
}

.eut_cmly_kia_newsletter_req .disclaimer {
    margin: 10px 0 80px;
    line-height: 18px
}

.eut_cmly_kia_newsletter_req .disclaimer .title {
    font-size: 13px;
    color: #333;
    line-height: 30px
}

.eut_cmly_kia_newsletter_req .disclaimer .title:after {
    content: "";
    display: block;
    width: 23px;
    height: 1px;
    background-color: #bb162b
}

.eut_cmly_kia_newsletter_req .disclaimer .txt {
    font-size: 13px;
    color: #999;
    margin: 10px 0
}

.eut_cmly_kia_newsletter_req .successtitle {
    color: #333
}

.eut_cmly_kia_newsletter_req .successtitle:before {
    content: "";
    width: 19px;
    height: 22px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    right: 27px;
    background: url(/images/spr-form-data-check.png) 100% 100% no-repeat
}

.eut_cmly_kia_newsletter_req .successinput {
    background: url(/images/spr-form-data-check.png) 100% 100% no-repeat!important
}

.eut_cmly_kia_newsletter_req .falseinput {
    background: url(/images/spr-form-data-check.png) 100% 0 no-repeat
}

.eut_cmly_kia_newsletter_req .successinput1 {
    background: url(/images/spr-form-data-check.png) 91% bottom no-repeat!important
}

.eut_cmly_kia_newsletter_req input[type=text] {
    line-height: 28px;
    font-size: 13px;
    font-family: kiam,sans-serif;
    border: 1px solid #d6d6d6;
    background-color: #fcfcfc;
    border-radius: 2px;
    padding: 0 5px;
    height: 28px;
    color: #666
}

.eut_cmly_kia_newsletter_req input[type=text].eut_data_wrong {
    border-color: red;
    color: red;
    background-color: #fff7f7
}

.eut_cmly_kia_newsletter_req .thank_you_box {
    background-color: #fff;
    padding: 5px 19px 20px;
    text-align: center
}

.eut_cmly_kia_newsletter_req .bg_image {
    width: 90%;
    background: url(/images/kia-company-logo.jpg);
    background-repeat: no-repeat;
    position: absolute;
    height: 90%;
    background-size: contain;
    background-position: 50%;
    padding: 0
}

.eut_cmly_kia_newsletter_req .eut_form_plugin .sel_box .select-list {
    width: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 10
}

.eut_cmly_kia_newsletter_req .select-list li:hover {
    background: #bb162b
}

.eut_cmly_kia_newsletter_req .select-list li:hover a {
    color: #fff!important
}

@media (max-width: 1024px) {
    .eut_cmly_kia_newsletter_req .list_wrap>ul>li {
        width:50%
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap.information {
        height: auto!important
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap.information .body .button_area button {
        margin-left: 17px
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap.information .body .button_area button:first-child {
        margin-left: 0
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .img_wrap .img_area {
        height: 168px
    }
}

@media (max-width: 767px) {
    .eut_cmly_kia_newsletter_req h2 {
        font-size:16px;
        margin-bottom: 13px
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf {
        padding: 25px 0;
        margin-bottom: 25px
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li {
        margin-top: 25px
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .img_wrap {
        width: 100%;
        float: none
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .txt_wrap {
        width: 100%;
        float: none;
        padding: 13px 0 0
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .txt_wrap p {
        color: #666;
        font-size: 13px;
        line-height: 20px
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .txt_wrap p.title {
        font-size: 17px;
        color: #333;
        margin-bottom: 10px
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .txt_wrap a {
        margin-top: 18px;
        float: right
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li .txt_wrap a.eut_cmpe_btn_text {
        display: none
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a li:first-child {
        margin-top: 0
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns {
        margin-left: 0
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li {
        float: left;
        width: 100%;
        padding-left: 0
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li a {
        margin-top: 12px
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li a.eut_cmpe_btn {
        display: none
    }

    .eut_cmly_kia_newsletter_req .eut_view_pdf ul.eut_hf1a.columns li a.eut_cmpe_btn_text {
        display: block
    }

    .eut_cmly_kia_newsletter_req .list_wrap .thx_wrap>ul {
        height: auto
    }

    .eut_cmly_kia_newsletter_req .list_wrap .thx_wrap>ul>.li65p {
        float: left;
        width: 100%
    }

    .eut_cmly_kia_newsletter_req .list_wrap .thx_wrap>ul>.li45p {
        float: none;
        width: 100%
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li {
        width: 100%;
        margin-top: 10px
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap {
        height: auto!important
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .head {
        padding-left: 13px
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body {
        padding-left: 13px;
        padding-right: 13px
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body .button_area {
        margin: 30px auto 3px;
        display: table
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body .button_area button {
        display: block;
        margin-left: 0
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p {
        margin-top: 0!important
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div .eut_form_plugin {
        width: 100%;
        float: none;
        margin-top: 10px
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div .eut_form_plugin:first-child {
        width: 100%
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div>div {
        width: 100%;
        margin-left: 0;
        padding-left: 0
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input50p div>div :first-child {
        margin-top: 0!important
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input65p div .eut_form_plugin {
        width: 100%;
        float: none;
        margin-top: 10px
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.input65p div .eut_form_plugin:first-child {
        width: 100%
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.carSelector>div>div.col1 {
        width: 100%;
        float: left;
        padding-left: 30px;
        box-sizing: border-box
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li .inputs_wrap .body ul.input_group li.carSelector>div>div.col2 {
        width: 100%;
        float: none;
        padding-left: 30px;
        box-sizing: border-box
    }

    .eut_cmly_kia_newsletter_req .list_wrap>ul>li:first-child {
        margin-top: 0
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont {
        padding: 12px
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .title_gate {
        font-size: 21px;
        margin-bottom: 15px;
        padding: 30px 19px
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .title_gate span {
        font-size: 13px;
        margin-top: 10px;
        line-height: 16px
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info {
        padding: 0 13px 13px
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail {
        padding: 25px 0 0
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .img_wrap {
        width: 100%;
        float: none
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .img_wrap .img_area {
        height: 138px
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .info_wrap {
        margin-top: 10px;
        width: 100%;
        float: none;
        padding: 0
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .info_wrap p.title {
        font-size: 15px
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .info_wrap p.txt {
        margin-top: 13px;
        font-size: 15px;
        color: #333
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail .info_wrap p.txt_box {
        padding: 13px
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_user_info_detail:after {
        display: block;
        clear: both;
        content: ""
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info {
        padding: 10px
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd,.eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dt {
        display: block
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd .eut_cmpe_btn {
        position: relative;
        right: auto;
        top: auto;
        float: right
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd:after {
        display: block;
        clear: both;
        content: ""
    }

    .eut_cmly_kia_newsletter_req .eut_complete_area .eut_complete_cont .eut_user_input_info .eut_more_info dd .eut_form_plugin input[type=text] {
        width: 100%;
        box-sizing: border-box
    }
}

input[type=email],input[type=number],input[type=password],select {
    line-height: 28px;
    font-size: 13px;
    font-family: kiam,sans-serif;
    border: 1px solid #d6d6d6;
    background-color: #fcfcfc;
    border-radius: 2px;
    padding: 0 5px;
    height: 28px;
    color: #666
}

.reddot:after {
    display: inline-block;
    position: static;
    content: " *";
    color: #bb162b;
    line-height: 28px;
    background: none
}

.eut_form_plugin .sel_box .kia-select {
    border: 1px solid #d6d6d6!important;
    background: #fcfcfc!important
}

.radiobutton_style {
    float: right
}

.field-td {
    display: table-cell;
    vertical-align: bottom
}

@media (min-width: 768px) {
    .field-td {
        float:none!important
    }
}

.field-table {
    display: table;
    width: 100%
}

/* common css */
.eut_cmly_kia_newsletter_req li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#eut_container .eut_sub_title {
    padding: 25px 0 26px 0;
    width: 940px;
    margin: 0 auto;
}
ul, ol {
    margin: 0;
    padding: 0;
}
.hidden{
  display: none !important;
}
#eut_container .eut_sub_title {
  padding: 25px 0 26px 0;
  width: 940px;
  margin: 0 auto;
}
#eut_container .eut_sub_title h1 {
  font-size: 36px;
  margin: 0;
  font-family: "kiab", sans-serif;
  color: #000;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#eut_container .eut_sub_title:after {
  display: block;
  width: 70px;
  height: 2px;
  background-color: #bb162b;
  content: '';
}
#eut_container .eut_cmly_section {
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#eut_container .eut_cmly_section .inner {
  width: 940px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p {
  margin: 0;
}
.eut_cmly_kia_newsletter_req .list_wrap .check_submit .eut_form_plugin label.eut_checkbox:before {
  margin-right: 9px;
}
.eut_form_plugin > label.eut_checkbox:before {
  content: '';
  display: inline-block;
  /*margin: -2px 6px 0 0;*/
  background: url(/images/spr-form.png) 0 0 no-repeat;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: -2px 6px 0 0;
  background-position: 0 -15px;
}
.eut_form_plugin > input[type=radio], .eut_form_plugin > input[type=checkbox] {
  opacity: 0;
  /*filter: alpha(opacity=0);*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
input[type=radio], input[type=checkbox] {
  padding: 0;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button, input {
    outline: none;
}
a, img, input, button, select, textarea {
    vertical-align: middle;
}
button {
    width: auto;
    border: 0;
    padding: 0;
    background: none;
    font-weight: normal;
}
button, html input[type='button'], input[type='reset'], input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button;
}
button.eut_cmpe_btn, a.eut_cmpe_btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 3px 0 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-family: "kiab", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #bb162b;
  border: none;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
}
button.eut_cmpe_btn:after, a.eut_cmpe_btn:after {
    content: '';
    background: url(/images/spr-button.png) -25px -32px no-repeat;
    display: block;
    float: right;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-left: 10px;
}
button.eut_cmpe_btn.small:after, a.eut_cmpe_btn.small:after {
    position: absolute;
    top: 50%;
    right: 12px;
    float: none;
    margin: -5px 0 0 0;
    width: 6px;
    height: 9px;
    background-position: 0 -57px;
}
button.eut_cmpe_btn.small, a.eut_cmpe_btn.small {
  position: relative;
  height: 25px;
  line-height: 25px;
  padding-left: 12px;
  padding-right: 26px;
  font-size: 12px;
}
button:disabled {
  cursor: not-allowed;
  text-decoration: none !important;
  opacity: 0.5;
}
.eut_form_plugin {
    position: relative;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
}
.eut_form_plugin > label.eut_text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    /* margin-right: 40px; */
    z-index: 1;
    font-size: 13px;
    color: #aaa;
    /* line-height: 28px; */
    line-height: 30px;
    padding-left: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.eut_form_plugin.required > label:after {
    content: '*';
    color: #bb162b;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
table {
    width: 100%;
    border-collapse: separate;
}
.eut_form_plugin > label.eut_checkbox {
    font-size: 13px;
    color: #999;
}
.eut_form_plugin > label.eut_checkbox.active:before {
    background-position: -32px -15px;
    content: ' ';
}